.jumbotron
{
    background-color: transparent;
    padding-top: 90px;
}
.jumbotron p.big
{
    line-height: 21px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 6px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    padding-top: 10px;
}
a.btn-banner {
    border: 1px solid #cdcdcd;
    padding: 18px 22px;
    line-height: 0px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 50px;
}
a.btn-banner i
{
    padding-left: 10px;
}
a.btn-banner:hover, a.btn-banner:focus
{
    background-color: #073277;
    color: #fff;
    border-color: #073277;
    display: inline-block;
}
.bold
{
    font-weight: bold;
}
.bor-btm
{
    width: 100px;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 85px;
}
.jumbotron h1.small
{
    line-height: 88px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 62px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 0px;
}
.cta-1, .cta2
{
	background-color: #073277;
	padding: 40px 0px; 
}
p.cta-sub-title
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
	font-size: 28px;
    color: #ffffff;
}
h1.cta-title {
    font-size: 30px;
    color: #ffffff;
}
.pg-titl-bdr-btm
{
	width: 100px;
	height: 3px;
	background-color: ##f5f5f5;
}

.cta2 a
{
margin-top: 5px;
}

#banner
{
    background: url('../img/banner.jpg') no-repeat;
    background-size: cover;
    min-height: 600px;
}
.cta2 .btn-default,.cta2 .btn-default:hover,.cta2 .btn-default:focus
{
    padding: 10px 25px;
    background-color: #fff;
    border: 0px;
}
